@font-face{
    src: url(./fonts/Sacramento/Sacramento-Regular.ttf);
    font-family: "sacramento";
}
@font-face{
    src: url(./fonts/Merriweather/Merriweather-BoldItalic.ttf);
    font-family: "Merriweather";
}
@font-face{
    src: url(./fonts/Montserrat/Montserrat-Black.ttf);
    font-family: "Montserrat";
}
body{
    background-position: center;
    background: url(./img/computerfinal.jpg);
    background-size: cover;
    margin: 0;
    padding: 0;
}

/**landing-page*/

#card-1{
    float: right;
    padding: 0;
    background: linear-gradient(to left, rgb(243, 180, 219),white,rgb(243, 180, 219));
    justify-content: center;
}
.display-1{
    font-size: 90px;
    border-style: rgb(255, 255, 255);
    color: rgb(255, 203, 239);
    font-family: sacramento;
    border-width: 3px;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 1px;
}
#btn{
    float: none;
    position: absolute;
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 45%;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 200px;
    letter-spacing: 3px;
    color:rgb(255, 255, 255);
    background-color: transparent;
    border-radius: 10px;
    font-size: 20px;
    box-shadow: -2px -2px 8px rgb(255, 203, 239);
    cursor: pointer;
    transition: all 100ms;
    font-family: merriweather;
}
#btn:hover{
    border-radius: 40px;
    box-shadow: -2px -2px 8px rgba(255, 255, 255, 0.9),
                -2px -2px 12px rgba(255, 255, 255, 0.5),
                 inset 2px 2px 4px rgba(3, 3, 0.5),
                2px 2px 8px rgba(0, 0, 0, 0.15);
}
#btn:hover span{
    transform: scale(0.96);
}